<h1>FBCloneapp</h1>
<img src="assets/book.png" class="top_img">
<div class="link　btn-group">
  <span class="btn btn-default"><%= link_to "新規登録", new_user_path %></span>
  <span class="btn btn-default"><%= link_to "ログイン", new_session_path %></span>
</div>
