html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
  background-color: #e0e0e0;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
header {
  width: 100%;
  background-color: #3b5998;
  height: 54px;
  margin: 0;
}
header ul {
  margin: 0 auto;
  padding: 0;
  text-align: right;
}
header ul a {
  display: inline-block;
  padding: 15px;
  color: white;
}
header li {
  display: inline-block;
  width: auto;
}
header li.left {
  float: left;
}
header li.right {
  display: inline-block;
}
header li a:hover {
  color: #fff;
}
header ul:after {
  content: "";
  display: block;
  clear: both;
}
.container {
  padding-bottom: 100px;
}
.top_img {
  width: 100%;
}
.form {
  text-align: right;
  margin-right: 38%;
}
.btn {
  margin-top: 10px;
}
footer {
  width: 100%;
  background-color:#3b5998;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
